@import url("https://use.typekit.net/nir0kax.css");

@import url("./fonts/inter.css");

html {
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    overflow-x: hidden;

    /* font-family: museo-sans, sans-serif; */
    font-family: "Inter", sans-serif;
}

@page {
    size: auto;
    margin: 1.5rem;
}

ol {
    padding-left: 1rem !important;
}

ol li {
    padding-bottom: 0.8rem;
}

ol li:last-child {
    padding: 0;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
