@import url("https://use.typekit.net/nir0kax.css");

html {
    min-height: 100vh;
    background-color: #fafafa;
}

body {
    min-height: 100%;
    background-color: #fafafa;

    font-family: museo-sans, sans-serif;
}

* {
    box-sizing: border-box;
}

@page {
    size: auto;
    margin: 2rem;
}

a,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
