/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@import url("https://use.typekit.net/nir0kax.css");

@import url("./fonts/inter.css");

html {
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    overflow-x: hidden;

    /* font-family: museo-sans, sans-serif; */
    font-family: "Inter", sans-serif;
}

@page {
    size: auto;
    margin: 1.5rem;
}

ol,
ul {
    padding-left: 1rem !important;
}

ol li,
ul li {
    padding-top: 0.4rem;
}

.course-info a {
    color: var(--chakra-colors-blue-600) !important;
}

.course-info a::after {
    content: "↗";
    /* color: initial; */
    font-weight: 600;
}

.course-info a:hover {
    text-decoration: underline;
}

/* ol li:last-child,
ul li:last-child {
    padding: 0;
} */

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
